@tailwind components;

@layer components {
  .btn {
    --btn-color: theme('colors.secondary-300');
    --btn-hover-color: theme('colors.secondary-400');
    --btn-text-color: theme('colors.text-base');
    --btn-ghost-color: theme('colors.secondary-100');
    --btn-ghost-text-color: theme('colors.text-base');
    @apply inline-flex items-center justify-center rounded-full transition-all duration-200 ease-in-out active:scale-95;
    @apply !bg-[var(--btn-color)] text-[var(--btn-text-color)] hover:!bg-[var(--btn-hover-color)];
  }

  .btn-small {
    @apply h-8 gap-[8px] px-4 py-2 text-sm leading-4;
  }

  .btn-medium {
    @apply h-10 gap-[8px] px-4 py-[12px] text-sm leading-4;
  }

  .btn-large {
    @apply h-12 gap-[10px] px-6 py-[14px] text-base;
  }

  .btn:disabled {
    @apply cursor-not-allowed !bg-gray-300 shadow-none hover:!bg-gray-300 active:scale-100;
  }

  .btn-primary {
    --btn-color: theme(colors.primary-500);
    --btn-hover-color: theme(colors.primary-600);
    --btn-text-color: theme(colors.white);
    --btn-ghost-color: theme(colors.primary-100);
    --btn-ghost-text-color: theme(colors.text-base);
  }

  .btn-success {
    --btn-color: theme(colors.success-700);
    --btn-hover-color: theme(colors.success-800);
    --btn-text-color: theme(colors.white);
    --btn-ghost-color: theme(colors.success-100);
    --btn-ghost-text-color: theme(colors.text-base);
  }

  .btn-ghost {
    @apply !bg-transparent !text-[var(--btn-ghost-text-color)] hover:!bg-[var(--btn-ghost-color)];
  }
}
